# Hands-on activity: Getting to know the Penguins Dataset
---

## 

### Data Exploration
* Please begin by importing the necessary libraries and loading the penguins dataset ( https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv ) into a Pandas DataFrame. 
* Explore the dataset by displaying its basic information like column names, data types, and the first few rows.

In [14]:
import pandas as pd

penguins = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

# display the first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [15]:
# display the last 5 rows
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [16]:
# display column names and data types
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Practice
Here are a few questions you can explore with the penguins dataset:
* Task 1: How do you figure out how many penguins live on each island?

In [17]:
penguins.groupby('island').size()

island
Biscoe       168
Dream        124
Torgersen     52
dtype: int64

In [18]:

penguins.groupby('island').species.count()

island
Biscoe       168
Dream        124
Torgersen     52
Name: species, dtype: int64

In [19]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

* Task 2: How do you figure out the average body mass of penguins on each island?

In [12]:

penguins.groupby('island').body_mass_g.mean()

island
Biscoe       4716.017964
Dream        3712.903226
Torgersen    3706.372549
Name: body_mass_g, dtype: float64

In [6]:
penguins.body_mass_g.mean()

4201.754385964912

* Task 3: Which penguins living on Biscoe island have a body mass of 2900 or less?

In [7]:
penguins_filtered = penguins[(penguins.island == 'Biscoe') & (penguins.body_mass_g <= 2900)]
penguins_filtered

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE

* Task 4: What is the average body mass of female Adelie penguins living on each island?

In [8]:
female_adelie_penguins = penguins[(penguins.species == 'Adelie') & (penguins.sex == 'FEMALE')]
average_body_mass_per_island = female_adelie_penguins.groupby('island').body_mass_g.mean()
average_body_mass_per_island

island
Biscoe       3369.318182
Dream        3344.444444
Torgersen    3395.833333
Name: body_mass_g, dtype: float64

* Task 5: How many penguins have either bill depth more than 19mm or bill length more than 49mm?

In [9]:
filtered_penguins = penguins[(penguins.bill_depth_mm >19) | (penguins.bill_length_mm > 49)]
filtered_penguins.shape[0]

115